#corpo{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #886b2ee3;
}

#container{
    position: relative;
    display: flex;
    height: 98vh;
    width: 98vw;
    justify-content: center;
    align-items: center;    
}

#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 9%; /*topo*/
    font-family: Helvetica, sans-serif;
    font-size: 25px;
}

#calculadora{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 25%; /*medida que posiciona em relação ao pai*/ 
}

#lateral{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 10%;
    left:0;
    height: 80vh;
}

    #lateral p{
        font-family: Helvetica, sans-serif;
        font-size: 18px;
        color: white;
        line-height: 1.5;
    }

    #lateral h2{
        font-family: Helvetica, sans-serif;
        font-size: 35px;
        
    }

    #videoYt{
        border: 1px solid white;
    }

#resultado{
    display: flex;
    position: absolute;
    width: 30%;
    height:40%;
    top: 50%;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
}

   #exibirCardapio{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    
   }
