<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardapio 2</title>
</head>
<body id="corpo_cardapio2">
    <main id="container_cardapio2">
        <ul class="cafe_da_manha">
            <h1>Café da manhã</h1>
            <li>3 ovos</li>
            <li>1 fatia de queijo light</li>
            <li>50g de espinafre</li>
            <li>2 fatiaa de pão integral</li>
            <br>
            <li>Calorias: 450kcal</li>
            <li>Proteínas: 28g</li>
            <li>Carboidratos: 35g</li>
            <li>Fibras: 6g</li>
        </ul>
        
        <hr>
        
        <ul class="almoco">
            <h1>Almoço</h1>
            <li>100g de arroz integral</li>
            <li>100g de feijão cozido</li>
            <li>Salada a vontade</li>
            <li>150g de peito de frango</li>
            <br>
            <li>Calorias: 600kcal</li>
            <li>Proteínas: 50g</li>
            <li>Carboidratos: 70g</li>
            <li>Fibras: 10g</li>
        </ul>

        <hr>

        <ul class="lanche_tarde">
            <h1>Lanche da tarde</h1>
            <li>Iogurte natural integral</li>
            <li>1 banana prata</li>
            <li>15g de aveia em flocos</li>
            <li>1 colher de chá de mel</li>
            <br>
            <li>Calorias: 400kcal</li>
            <li>Proteínas: 18g</li>
            <li>Carboidratos: 50g</li>
            <li>Fibras: 5g</li>
        </ul>

        <hr>

        <ul class="janta">
            <h1>Janta</h1>
            <li>150g de filé de tilápia</li>
            <li>Purê de batata doce (100g de batata doce + 50ml de leite)</li>
            <li>100g de brócolis cozido</li>
            <br>
            <li>Calorias: 500kcal</li>
            <li>Proteínas: 40g</li>
            <li>Carboidratos: 50g</li>
            <li>Fibras: 8g</li>
        </ul>

        <hr>

        <ul class="total">
            <h1>Total</h1>
            <li>Calorias: 1950kcal</li>
            <li>Proteínas: 138g</li>
            <li>Carboidratos: 190g</li>
            <li>Fibras: 28g</li>
        </ul>
    </main>
</body>
</html>
