@import url(https://fonts.google.com/specimen/Montserrat);

#home_background{
    display: flex;
    flex-direction: column;   /* organiza os elementos verticalmente */
    width: 100%;
    height: 100%;
    background-color: white;

}

#nav-bar{
    display: flex;
    position: absolute;
    background-color: #423f3f;
    width: 100vw;
    height: 10vh;
    align-items: center;
}

#nav-list{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 90%;
    height: 80%;
    padding-right: 75%;
    border: 1px red solid;
}

#nav-list li{
    list-style-type: none;
    display: flex;
    position: relative;
    margin-left: 40%;
    padding-top: 20%;
    
    border: 1px seagreen solid;
}

#home-icon{
    width: 5%;
    height: 5%;
}

#nav-list a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#logo-nav{
    display: flex;
    position: relative; 
    width: 10%;
    height: 90%;
    
}

